trigger:
- main

pool:
  name: SeleniumPool

steps:
- task: Maven@4
  inputs:
    mavenPomFile: 'pom.xml'
    # run tests and then generate the surefire HTML report
    goals: 'test surefire-report:report'
    publishJUnitResults: true

# Publish the raw JUnit XML files (target/surefire-reports)
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: 'target/surefire-reports'
    artifact: 'junit-xml'
    publishLocation: 'pipeline'

# Publish the generated surefire HTML report (target/site)
- task: PublishPipelineArtifact@1
  inputs:
    targetPath: 'target/site'
    artifact: 'surefire-html'
    publishLocation: 'pipeline'
